.node-view {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.node-view .node-list {
    flex-grow: 1;
    overflow-y: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.node-list .group-view > .children {
    margin-left: 10px;
}

.node-list .entry-container {
    width: 100%;
    height: 30px;
    position: relative;
}

.node-list .entry-container:not(:last-child) {
    border-bottom: 1px solid var(--accent);
}

.entry-container > span.current {
    text-decoration: bold;
}

.node-view #actions {
    width: 100%;
    flex-basis: auto;
}
