:root {
    --accent: #ddd;
}

body {
    margin: 0px;
    overflow: hidden;
}

#app-container {
    width: 100vw;
    height: 100vh;
}

/* CONTAINERS */

.container {
    display: flex;
}

.container.vertical {
    flex-direction: column;
}

.container.horizontal {
    flex-direction: row;
}

.grow {
    flex-grow: 1;
}

/* FORMS */

.form-item {
    display: flex;
    margin: 5px;
    align-items: center;
}

.form-item > *:not(:last-child) {
    margin-right: 10px;
}

input {
    margin: 0px;
}
