@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

:root {
    --accent: #ddd;
}

body {
    margin: 0px;
    overflow: hidden;
}

p, a, span, h1, h2, h3, h4, h5, h6, li, div, textarea {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

#app-container {
    width: 100vw;
    height: 100vh;
}

.panel-container {
    border: 0.5px solid var(--accent);
    position: relative;
    padding: 1rem;
    overflow: hidden;
}

.panel {
    height: 100%;
    position: relative;
}

/* CONTAINERS */

.container {
    display: flex;
    flex-basis: 0px;
}

.container.vertical {
    flex-direction: column;
}

.container.horizontal {
    flex-direction: row;
}

.grow {
    flex-grow: 1;
}

/* FORMS */

.form-item {
    display: flex;
    margin: 5px;
    align-items: center;
}

.form-item > *:not(:last-child) {
    margin-right: 10px;
}

input {
    margin: 0px;
}

textarea {
    border: 1px solid rgba(0, 0, 0, 0);
    resize: none;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
    transition: all 0.2s;
}

textarea:hover {
    border: 1px solid var(--accent);
}
