@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

:root {
    --accent: #ddd;
    --blue: #00a4ff;
}

body {
    margin: 0px;
    overflow: hidden;
    height: 100vh;
}

#root {
    height: 100%;
}

#app-container {
    height: 100%;
    display: flex;
}

p, a, span, h1, h2, h3, h4, h5, h6, li, div, textarea, input {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

/* FORMS */

.form-item {
    display: flex;
    margin: 5px;
    align-items: center;
}

.form-item > *:not(:last-child) {
    margin-right: 10px;
}

input {
    margin: 0px;
}

textarea, .layer-view input {
    border: 1px solid rgba(0, 0, 0, 0);
    background: transparent;
    resize: none;
    overflow: hidden;
    transition: all 0.2s;
    outline: none;
    box-sizing: border-box;
}

textarea.point, .layer-view input {
    white-space: nowrap;
}

textarea:focus, .layer-view input:focus {
    border: 2px solid var(--blue);
}

textarea:hover:not(:focus), .layer-view input:hover:not(:focus) {
    border: 1px solid var(--accent);
}
